.signup-form {
  display: grid;
  justify-content: center;
  align-items: start;
  margin: 1em 0;
  align-content: start;
  grid-template-columns: minmax(200px, 300px);


  > button {
    margin-top: 20px;
    justify-self: center;
    height: 4em;
  }

  .footer {
    margin-top: 2em;
    font-size: 0.8em;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    button {
      padding: 0.5em 1em;
      height: auto;
      background: orangered;
      border-radius: 0.5em;
    }
  }
}
