.health-information-form {
  .form {
    display: grid;
    grid-column-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));

    textarea {
      height: 100px;
    }
  }

  .button-group {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
  }

  .radio-group {
    justify-content: start;
    grid-gap: 3em;
    padding: 1em 0;
  }
}