@import "../../index";

.personal-info-form {
  display: grid;

  .fieldset {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
    grid-column-gap: 2em;
    justify-content: start;
  }

  button {
    justify-self: center;
  }
}


@include mobile {
  .personal-info-form {
    .fieldset {
    }
  }
}
