.signup-form {
  display: grid;
  justify-content: center;
  align-items: start;
  margin: 1em 0;
  align-content: start;
  grid-template-columns: minmax(200px, 300px);


  button {
    margin-top: 20px;
    justify-self: center;
    height: 4em;
  }
}
