@import "../../index";

.notification-type-configuration {
  .notification-creator {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;

    &__list {
    }
  }

  .notification-editor {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, minmax(200px, 500px));

    .header {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      align-items: center;
      z-index: 2;

      button {
        background: #b30000;
      }

      .dropdown-content {
        width: 200px;

        .confirm-delete {
          padding: 0.5em 1em;
          display: grid;
          justify-content: center;
          justify-items: center;
          text-align: center;

          span {
            font-size: 0.7em;
          }

          button {
            padding: 0.5em 1em;
            border-radius: 0.5em;
          }
        }
      }
    }

    .notification-form {
    }
  }
}


.notification-builder {
  &__header {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 1em;

    .alert-time {
      font-size: 0.8em;
      color: #666;

      @include mobile {
        font-size: 0.6em;
      }
    }

    button {
      font-size: 0.6em;

      @include mobile {
        padding: 1em 1em;
        font-size: 0.5em;
      }
    }
  }
}
