.loading-component {
  position: relative;

  &.loading {

    .loading-component__content {
      opacity: 0.5;
    }

    > .loader {
      opacity: 1;
      pointer-events: all;
    }
  }

  > .loader {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;

    .default {
      height: 100%;
      display: grid;
      align-items: center;
      justify-content: center;
    }
  }
}
