@import "../../index";

.swipe-container {
  overflow: hidden;

  .swipeable {
    position: relative;
    user-select: none;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      background: #333;
      height: 100%;
      z-index: -2;
    }

    &.open {
      position: relative;
      box-shadow: 0 0 10px 4px rgba(0,0,0,.08);
      z-index: 5;
    }

    .actions {
      position: absolute;
      z-index: -1;
      display: grid;
      align-items: center;
      justify-content: center;
      right: -50px;
      top: 0;
      height: 100%;
      width: 50px;
      background: $accent;
      cursor: pointer;

      &:hover {
        background: lighten($accent, 10);
      }

      * {
        color: white;
      }

      &.right {
      }
    }
  }
}
