.user-dashboard {
  .profile-form {
    display: grid;

    .tab-layout {
      .tabs {
        position: sticky;
        top: 10px;
        background: #ededee;
      }
    }

  }

  .profile-completion {
    display: none;
    justify-content: center;
    justify-items: center;
    align-content: start;
  }
}

.company-dashboard {
  .company-profile-forms {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    justify-content: space-between;
    align-items: start;
  }
}


.ambulance-man-dashboard {
  .search-form {
    display: grid;
    grid-gap: 2em;

    .form {
      display: grid;

      input {
        height: 3em;
        padding: 0 1em;
      }
    }
  }
}

