.user-dashboard {
  .profile-form {
    display: grid;

    .tab-layout {
      .tabs {
        position: sticky;
        top: 10px;
        background: #ededee;
      }
    }

  }

  .profile-completion {
    display: none;
    justify-content: center;
    justify-items: center;
    align-content: start;
  }
}
