.forgot-password {
  display: grid;

  .container {
    display: grid;
    grid-template-columns: minmax(200px, 500px);
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 2em;

    .forgot-password-form {

    }
  }
}
