@import "../../index";

.tab-layout {

  .tabs {
    display: flex;
    flex-direction: row;

    .tab {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50px, 200px));
      border: 1px solid #ccc;
      min-height: 100px;
      place-items: center;
      align-items: center;
      align-content: center;
      cursor: pointer;

      &:not(:last-child) {
        border-right: none;
      }

      img {
        height: 40px;
      }

      .title {
        white-space: nowrap;
      }

      &:hover {
        box-shadow: 0 0 4px 2px rgba(0,0,0,.1);
      }

      &.active {
        box-shadow: 0 0 4px 2px rgba(0,0,0,.1);
        background: white;
        transform: scale(1.05)
      }
    }
  }

  .tab-content {
    width: 100%;
    margin: 1em 0;
  }
}

@include mobile {
  .tab-layout {
    .tabs {
      display: grid;
      grid-auto-flow: column;
      .tab {
        min-width: 50px;
        min-height: 80px;

        img {
          height: 20px;
        }
      }
    }

    .tab-content {
      margin: 1em 0;
    }
  }
}

@include tablet{
  .tab-layout {
    .tabs {
      .tab {
      }
    }
  }
}
