.dropdown-menu {
  position: relative;

  .trigger {
    cursor: pointer;
  }

  .dropdown-content {
    position: absolute;
    margin-top: 1em;
    background: white;
    width: 100%;
    border: 1px solid #ccc;
    opacity: 0;
    pointer-events: none;
    left: 50%;
    transform: translateY(-5px) translateX(-50%);
    box-shadow: 0 0 3px 3px rgba(0,0,0,.05);

    &:before, &:after {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      left: 50%;
      z-index: -1;
      background: white;
    }

    &:before {
      box-shadow: 0 0 3px 3px rgba(0,0,0,.05);
      border: 1px solid #ccc;
      transform: rotate(45deg);
      top: -5px;
    }

    &:after {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      right: 0;
    }


    &.open {
      opacity: 1;
      transform: translateY(0) translateX(-50%);
      pointer-events: all;
    }

    .menu {
      display: grid;

      .item {
        cursor: pointer;
        height: 3em;
        display: grid;
        align-items: center;
        padding: 0 0.5em;

        &:hover {
          background: #eee;
        }
      }
    }
  }
}
