@import "../../index";

.nav-bar {
  height: 80px;
  border-bottom: 1px solid #eee;
  background: white;
  display: grid;
  position: sticky;
  top: 0;
  align-items: center;
  padding: 0 2em;
  z-index: 80;
  justify-content: space-between;
  grid-auto-flow: column;
  box-shadow: 0 0 4px 2px rgba(0,0,0,.1);

  .menu {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: 2em;

    .notifications {

      .dropdown-content {
        width: 400px;
        max-height: 500px;
        left: -180px;

        &:before {
          left: 50%;
        }

        .empty {
          margin: 0.5em;

          img {
            height: 150px;
          }
        }

        @include mobile {
          position: fixed;
          max-height: 100%;
          left: 1em;
          width: calc(100% - 2em);
        }
      }

      .notification-bell {
        position: relative;
        img {
          height: 2em;
        }

        .badge {
          position: absolute;
          top: -7px;
          left: -7px;
          display: grid;
          place-items: center;
          background: $accent;
          height: 15px;
          min-width: 15px;
          font-size: 12px;
          border-radius: 10px;
          color: white;
          padding: 3px;
        }
      }
    }
  }
  img {
    height: 50px;
  }

  .title {
    justify-self: center;
    * {
      font-weight: 300;
    }
  }

  .logo {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: 1em;

    .hamburger{
      cursor: pointer;
    }
  }

  .user-profile {
    justify-self: end;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1em;
    align-items: center;
  }
}


@include mobile{
  .nav-bar {
    padding: 0 1em;

    img {
      height: 30px;
    }

    .menu {
      .notification-bell {
        img {
          height: 1.5em;
        }

        .badge {
          height: 15px;
          min-width: 15px;
          font-size: 12px;
        }
      }
    }
    .logo {
      h3 {
        font-size: 0.7em;
        font-weight: bold;
      }
    }

    .user-profile {
      img {
        display: none;
      }
      font-size: 0.7em;
    }

    .logo {
      .hamburger {
      }
    }
  }
}
