@import "../../index";

.side-bar {
  padding: 3em 0;
  display: grid;
  background: white;
  height: 100%;
  width: 300px;
  align-content: start;
  position: fixed;
  grid-gap: 1em;
  border-right: 1px solid #ddd;

  &__item {
    height: 3em;
    display: grid;
    align-items: center;
    background: rgba(204, 204, 204, 0.43);
    padding: 0 2em;
    cursor: pointer;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: relative;
    overflow: hidden;

    a {
      text-decoration: none;
      color: black;
    }

    &:before {
      content: '';
      background: $accent;
      width: 10px;
      height: 100%;
      right: -11px;
      position: absolute;
    }

    &.active {
      background: rgba(198, 198, 198, 0.73);

      &:before {
        right: -1px;
      }
    }

    &:hover {
      border-top: 1px solid $accent;
      border-bottom: 1px solid $accent;
    }
  }
}
