.company-list {
  .badge {
    background: #3434ab;
    color: white;
    font-size: 0.8em;
    padding: 0.5em 1em;
    border-radius: 1em;

    &.verified {
      background: #006b00;
    }
  }

  .table {
    .tbody {
      grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
      grid-gap: 1em;
    }
  }
}
