@import "../../index";

.home-page {
  .nav {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0 2em;
    align-items: center;

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        height: 100px;
        margin-right: 2em;
      }

      span {
        font-weight: bold;
        font-size: 2em;
      }
    }

    .buttons {
      justify-self: end;
    }
  }

  .container {
    width: 70%;
    margin: auto;

    @include mobile_and_tablet{
      width: 100%;
    }
  }

  .banner {
    display: grid;
    align-items: center;
    padding: 3em 2em;
    margin: 4em 0;
    grid-column-gap: 2em;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    .info {
      .title {
        font-size: 3em;
      }

      .text {
        font-size: 2em;

        ol {
          li {
            margin: 1em 0;
          }
        }
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .info-banner {
    .title {
      font-size: 3em;
    }

    .content {
      font-size: 2em;
    }
  }

  .footer {
    display: grid;
    margin-top: 10em;
    justify-content: center;
    background: white;
    padding: 2em 0;
    border-top: 1px solid #ccc;

    .socialMedia {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-column-gap: 2em;
      .item {
        img {
          height: 50px;
        }
      }
    }
  }
}

@include mobile {
  .home-page {

    .nav {
      padding: 1em 1em;

      .logo {
        img {
          height: 50px;
        }

        span {
          font-size: 1em;
          display: none;
        }
      }

      .buttons {
        display: grid;
        position: absolute;
        right: 1em;
        z-index: 10;
        background: white;
        box-shadow: 0 0 8px 4px rgba(0,0,0,.2);

        button {
          cursor: pointer;
        }
      }
    }

    .banner {
      padding: 2em 1em;
      margin: 0;
      grid-template-columns: 2fr 1fr;

      &:first-child {
        position: relative;
        color: white;

        &:before {
          position: absolute;
          content: '';
          height: calc(100% + 140px);
          width: 100%;
          top: -100px;
          background: $accent;
          z-index: -1;
          clip-path: polygon(0 0, 100% 0, 100% 69%, 0% 100%);
        }
      }

      &:nth-child(2) {
        grid-template-columns: 1fr;
        img {
          display: none;
        }
      }

      .info {
        .title {
          font-size: 2em;
        }

        .text {
          font-size: 1em;
        }
      }
    }

    .info-banner {
      padding: 0 1em;
      .title {
        font-size: 1em;
      }

      .content {
        font-size: 1em;
      }
    }

    .footer {
      padding: 1em 0;

      .socialMedia {
        .item {
          img {
            height: 30px;
          }
        }
      }
    }
  }
}
