$accent: #424B76;
$box-shadow: 0 0 4px 2px rgba(0,0,0,.2);

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap');

* {
  font-family: 'Quicksand' ,sans-serif;
  transition: 0.5s all;
}

@mixin mobile {
  @media (max-width: 400px) {
    @content
  }
}

@mixin tablet {
  @media (min-width: 400px) and (max-width: 900px) {
    @content
  }
}
@mixin desktop {
  @media (min-width: 900px) {
    @content
  }
}

@mixin mobile_and_tablet{
  @include mobile {
    @content
  }

  @include tablet {
    @content
  }
}

@mixin tablet_and_desktop {
  @include tablet {
    @content
  }

  @include desktop{
    @content
  }
}
body {
  margin: 0;
  padding: 0;
  background: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
