.account-page {
  display: grid;
  grid-template-columns: 600px 1fr;

  .background {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;

    .image {
      position: fixed;
      z-index: -1;
    }

    .banner {
      text-align: center;
      width: 100%;

      h3 {
        font-size: 2em;
      }

      p {
        font-size: 2em;
      }
    }
  }

  .content {
    height: 100vh;
    overflow-y: scroll;
  }
}
