@import "../index";


.layout-wrapper.noSidebar {
  display: grid;

  .layout-body {
    .content {
      max-width: 1300px;
      margin: auto;
      padding: 2em;

      &__header {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-column-gap: 2em;
        justify-content: start;

        span {
          cursor: pointer;

          &:hover {
            transform: translateX(-3px);
          }
        }
      }
    }
  }
}

.layout-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;


  .navigation {
    margin-left: 300px;

    &:lang(ar){
      margin-left: 0;
      margin-right: 300px;
    }
  }

  .layout-body {
    display: grid;

    .content {
      max-width: 1300px;
      margin-left: 300px;
      padding: 2em;
      width: calc(100% - 4em - 300px);
      justify-self: center;

      &__header {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-column-gap: 2em;
        justify-content: start;

        span {
          cursor: pointer;

          &:hover {
            transform: translateX(-3px);
          }
        }
      }

      &:lang(ar) {
        margin-left: 0;
        margin-right: 300px;
      }
    }
  }

  &__sidebar {
    pointer-events: all;
  }

  &.sidebarOpen {
    .navigation {
      margin-left: 80px;

      &:lang(ar){
        margin-left: 0;
        margin-right: 80px;
      }
    }
    .layout-body {
      .content {
        margin-left: 150px;
        width: calc(100% - 4em - 150px);
        &:lang(ar){
          margin-left: 0;
          margin-right: 150px;
        }
      }
    }
  }
}

@include mobile {
  .layout-wrapper {

    .navigation, .navigation:lang(ar) {
      margin: 0;
    }

    .layout-body {
      grid-template-columns: 1fr;

      .content {
        padding: 1em 0;
        margin: 0;
        width: calc(100% - 2em );
        &:lang(ar) {
          margin: 0;
        }
      }
    }

    &.sidebarOpen {
      .layout-wrapper__sidebar {
        background: rgba(0,0,0,0.2);
        pointer-events: all;
        .side-bar {
          transform: translateX(0);
        }
      }
      .navigation, .navigation:lang(ar) {
        margin: 0;
      }
      .layout-body {
        .content {
          margin: 0;
          width: calc(100% - 2em);

          &:lang(ar) {
            margin: 0;
          }
        }
      }
    }

    &__sidebar {
      position: fixed;
      z-index: 1000;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0);
      pointer-events: none;

      .side-bar {
        width: 70%;
        transform: translateX(-110%);
        &:lang(ar){
          transform: translateX(110%);
        }
      }
    }
  }
}
